* {
  color:red;
  font-family:Verdana, sans-serif;
}
h1 {
  font-family:Futura
}
meter {
  width:500px;
  height:25px;
  border-radius: 10px;
  border: none;
}
meter::-webkit-meter-bar {
  background: none;/*  Required to get rid of the default background property */
  background-color: #006;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.60) inset;
  border-radius: 10px;
  border:none;
}
meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: -webkit-linear-gradient(45deg, blue, red);
  border-radius: 10px;
  border:none;
}
fieldset {
  border:2px solid red;
  border-radius:5px;
}
legend {
  border:2px solid red;
  border-radius:5px;
  color:red;
  font-family:sans-serif;
}
body {
  background-color:darkblue;
}
figure {
  border:2px solid red;
  border-radius:5px;
  width:200px;
  margin:10px;
}
img {
  border-radius:5px;
}
figcaption{
  padding:5px;
}
