footer {
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #0BDA51;
  background-color: #039;
  height: 35px;
  padding-top:0;
}
footer p {
  padding-top: 0;
}
* {
  color:#0BDA51;
  font-family: Verdana, sans-serif;
}
#topnav {
  float:right;
}
header {
  position: fixed;
  top:0;
  left:0;
  border-bottom:2px solid #0BDA51;
  width:100%;
  height:65px;
  background-color:#039;
  z-index:5;
}
#main {
  margin-top:75px;
  margin-bottom: 45px;
}
blink, .blink-css {
  animation: blink 1s step-end infinite; }
@keyframes blink {
  67% { opacity: 0 }
}
h1 {
  font-family: Futura, sans-serif;
}
meter {
  width: 70%;
  height: 25px;
  border-radius: 10px;
  border: none;
}
meter::-webkit-meter-bar {
  background: none;
  background-color: #222;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.60) inset;
  border-radius: 10px;
  border: none;
}
meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image: #0BDA51;
  border-radius: 10px;
  border: none;
}
fieldset {
  border: 2px solid #0BDA51;
  border-radius: 5px;
  margin-bottom: 10px;
}
legend {
  border: 2px solid #0BDA51;
  border-radius: 5px;
  color: #0BDA51f;
  font-family: sans-serif;
}
body {
  background-color: #039;
}
figure {
  border: 2px solid #0BDA51;
  border-radius: 5px;
  margin: 2px;
  margin-top: 5px;
  display: inline-block;
}
img {
  border-radius: 3px;
}
figcaption{
  padding: 5px;
  padding-top: 0;
}
ul p {
  display: none;
}
ul {
  list-style-type: none;
}
li {
  margin-left: 0;
  display: inline;
}
