footer {
  clear: both;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #0BDA51;
  background-color: #039;
  height: 26px !important;
  padding-top: 0;
}
footer p {
  padding: 3px;
  margin-top: 0;
  font-size: 15px;
}
#side ul li {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:67%;
  text-align:center;
  border:2px solid #0bda51;
  overflow:hidden;
}
#side ul li a {
  text-decoration:none;
}
#side {
  min-height: 100%;
  float: left;
  margin-top: 60px;
  margin-bottom: 45px;
  margin-right:10px;
  border-right: 2px solid #0BDA51;
  width:20%;
  position:fixed;
}
@media only screen and (max-width: 600px) {
  #side {
    display:none;
  }
  #main {
    width:100% !important;
  }
  #topnav span {
    display:none;
  }
  #topnav a {
    display:block;
    text-align:right;
    text-decoration:none;
  }
}
@media only screen and (min-width: 600px) {
  #topnav a {
    text-decoration:none;
  }
}
* {
  color: #0BDA51;
  font-family: Verdana, sans-serif;
}
#topnav {
  float:right;
}
header {
  position: fixed;
  top:0;
  left:0;
  border-bottom:2px solid #0BDA51;
  width:100%;
  height:65px;
  background-color:#039;
  z-index:5;
}
#main {
  margin-top:60px;
  margin-bottom: 45px;
  float:right;
  width:78%;
}
h1 {
  font-family: Futura, sans-serif;
}
meter {
  width: 70%;
  height: 25px;
  border-radius: 10px;
  border: none;
}
meter::-webkit-meter-bar {
  background: none;
  background-color: #222;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.60) inset;
  border-radius: 10px;
  border: none;
}
meter::-webkit-meter-optimum-value {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image:linear-gradient(#0BDA51,lime);
  border-radius: 10px;
  border: none;
}
fieldset {
  border: 2px solid #0BDA51;
  border-radius: 5px;
  margin-bottom: 10px;
}
legend {
  border: 2px solid #0BDA51;
  border-radius: 5px;
  color: #0BDA51f;
  font-family: sans-serif;
}
body {
  background-color: #039;
}
figure {
  border: 2px solid #0BDA51;
  border-radius: 5px;
  margin: 2px;
  margin-top: 5px;
  display: inline-block;
}
img {
  border-radius: 3px;
}
figcaption{
  padding: 5px;
  padding-top: 0;
}
ul p {
  display: none;
}
ul {
  list-style-type: none;
  padding-left:0;
}
li {
  margin-left: 0;
  display: inline;
}
*::-moz-meter-bar {
  -moz-appearance: meterchunk;
  display: inline-block !important;
  float: none !important;
  position: static !important;
  overflow: visible !important;
  background-color: #222;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.60) inset;
  border-radius: 10px;
  border: none;
}
:-moz-meter-optimum::-moz-meter-bar {
  box-shadow: 0 5px 5px -5px #999 inset;
  background-image:linear-gradient(#0BDA51,lime);
  border-radius: 10px;
  border: none;
}
