body {
  background-color: #293133;
  color: #fff; 
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
li {
  list-style:none;
}
a, h1, p, legend {
  color: #0bda50;
}
#topnav a {
  text-decoration:none;
}
a:hover {
  color: #fff; 
}
#topnav span {
  margin-top:auto;
  margin-bottom:auto;
  color:#0BDA50;
}
header {
  background-color: #191A1A; 
  padding: 20px;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}
header img {
  width: 150px; 
}
#topnav {
  display: flex;
}
#topnav a {
  padding: 10px; 
}
#side {
  width: 20%;
  float:left;
  background-color: #293133; 
  padding: 20px;
}
#main {
  width: 80%; 
  padding: 20px;
}
footer {
  background-color: #191A1A; 
  color:#0bda50;
  padding: 20px;
  text-align: center; 
  position:fixed;
  bottom:0px;
  left:0;
  width:100%
}
