*  {
	color: red;
	font-family: "Lucida Sans", "Trebuchet MS";
}
body {
	background-color: #111111;
}
a {
	color: #4444ff;
}
.center {
	text-align: center; 
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-radius:20px;
}
