*  {
	font-family: "Lucida Sans", "Trebuchet MS";
}
body {
	background-color: #111111;
}
a {
	color: #4444ff;
}
.center {
	border-radius:20px;
}
h1, h2 {
	color: red;
}
h3 {
	color: #4444ff;
}
p {
	width:60%;
	color:yellow;
}
